        .container2 {
            background: white;
            border-radius: 1rem;
            padding: 1.5rem;
            width: 50%;
            margin: 3% 0;
            flex-wrap: wrap;
        }